<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="test" translate="label" sortOrder="100">
            <label>Test</label>
        </tab>
        <section id="task" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Task</label>
            <tab>test</tab>
            <resource>Test_Task::config_task</resource>
            <group id="custom_block" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="cc_enable_custom_block" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled/Disable This Block?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>                  
                </field>
                <field id="block_title" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block/Area Title</label>                    
                </field>
                <field id="redirect_to_checkout" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Redirect directly to checkout?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
